@import "tailwindcss";
@import "@heroui/styles"; 


@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-border {
  animation: rotate 1s linear infinite;
}